@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Book.otf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

#es-RC-content.es-RC {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
}
#es-RC-content.es-RC * {
  box-sizing: border-box;
}
#es-RC-content.es-RC h2,
#es-RC-content.es-RC h3,
#es-RC-content.es-RC h4,
#es-RC-content.es-RC h5 {
  font-family: "Gotham", sans-serif;
  color: #000;
}
#es-RC-content.es-RC .es-section__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: -1px;
  margin-bottom: 56px;
  font-family: "Gotham", sans-serif;
  text-align: center;
}
#es-RC-content.es-RC .es-section__title span {
  font-weight: 300;
}
#es-RC-content.es-RC .es-kv img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 0;
}
#es-RC-content.es-RC .es-kv__headline {
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #e9809c;
  font-size: 1.2rem;
  padding: 0.8rem;
  margin-top: 0;
}
#es-RC-content.es-RC .es-features {
  padding-block: 2rem;
}
#es-RC-content.es-RC .es-features__Ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
#es-RC-content.es-RC .es-features__img {
  display: block;
  width: 100%;
  margin: auto;
}
#es-RC-content.es-RC .es-features__img--logo {
  max-width: 200px;
}
#es-RC-content.es-RC .es-features__headline {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}
#es-RC-content.es-RC .es-features__txt {
  text-transform: uppercase;
  font-size: 1.2rem;
}
#es-RC-content.es-RC .es-features__footer {
  text-align: center;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  #es-RC-content.es-RC .es-features__Ctn {
    flex-direction: row-reverse;
  }
  #es-RC-content.es-RC .es-features__Ctn--right {
    padding-left: 2rem;
    max-width: 45%;
  }
  #es-RC-content.es-RC .es-features__img {
    margin: unset;
  }
}
#es-RC-content.es-RC .es-discover {
  background-color: #e9809c;
  text-align: center;
  padding-block: 1.5rem;
  padding-inline: 1rem;
}
#es-RC-content.es-RC .es-discover__header {
  text-transform: uppercase;
  font-weight: 700;
}
#es-RC-content.es-RC .es-formula {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1.5rem;
  padding-inline: 1rem;
}
#es-RC-content.es-RC .es-formula__header {
  text-transform: uppercase;
  font-weight: 700;
}
#es-RC-content.es-RC .es-formula__img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  #es-RC-content.es-RC .es-formula {
    flex-direction: row;
  }
  #es-RC-content.es-RC .es-formula__Ctn--left {
    max-width: 45%;
    padding-left: 2rem;
  }
}
#es-RC-content.es-RC .es-benefits__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#es-RC-content.es-RC .es-benefits__packshot {
  overflow: hidden;
}
#es-RC-content.es-RC .es-benefits__img {
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
}
#es-RC-content.es-RC .es-benefits__content {
  height: 100%;
  min-height: 300px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e9809c;
}
#es-RC-content.es-RC .es-benefits__title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}
#es-RC-content.es-RC .es-benefits__title span {
  font-size: 2.8rem;
}
#es-RC-content.es-RC .es-benefits__title:after {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  margin-top: 20px;
  border-bottom: 2px solid black;
}
#es-RC-content.es-RC .es-benefits__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 0.9rem;
}
#es-RC-content.es-RC .es-benefits__text--one {
  order: 1;
}
#es-RC-content.es-RC .es-benefits__img--one {
  order: 2;
}
#es-RC-content.es-RC .es-benefits__text--two {
  order: 3;
  position: relative;
}
#es-RC-content.es-RC .es-benefits__img--two {
  order: 4;
}
#es-RC-content.es-RC .es-benefits__footer {
  font-size: 0.6rem;
  margin-bottom: -2rem;
}
#es-RC-content.es-RC .es-benefits__overlay {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  width: 95%;
}
#es-RC-content.es-RC .es-benefits__overlay--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#es-RC-content.es-RC .es-benefits__overlay--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#es-RC-content.es-RC .es-benefits__overlay--txt {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#es-RC-content.es-RC .es-benefits__overlay--txt--top {
  font-size: 0.9rem;
}
#es-RC-content.es-RC .es-benefits__overlay--txt--bottom {
  font-size: 1.5rem;
  width: 100px;
  height: 3rem;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%);
  left: 50%;
}
#es-RC-content.es-RC .es-benefits__overlay--corner {
  transform-origin: center;
}
#es-RC-content.es-RC .es-benefits__overlay--corner-TL {
  rotate: -90deg;
}
#es-RC-content.es-RC .es-benefits__overlay--corner-BL {
  rotate: 180deg;
}
#es-RC-content.es-RC .es-benefits__overlay--corner-BR {
  rotate: 90deg;
}
#es-RC-content.es-RC .es-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
#es-RC-content.es-RC .es-video__title {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
#es-RC-content.es-RC .es-video__text {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
}
#es-RC-content.es-RC .es-video__video {
  width: 100%;
  aspect-ratio: 16/9;
  padding: 3rem;
}
#es-RC-content.es-RC .es-video__video iframe {
  width: 100%;
  height: 100%;
  outline: 10px solid #e9809c;
}
#es-RC-content.es-RC .es-colors {
  width: 100%;
  background-color: #e9809c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-RC-content.es-RC .es-colors__title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
}
#es-RC-content.es-RC .es-colors__title span {
  font-weight: lighter;
}
#es-RC-content.es-RC .es-colors__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 32px;
}
#es-RC-content.es-RC .es-colors__single {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 2px;
  max-width: 180px;
}
#es-RC-content.es-RC .es-colors__img {
  margin-top: 20px;
  width: 100%;
}
#es-RC-content.es-RC .es-colors__img img {
  width: 100%;
}
#es-RC-content.es-RC .es-colors__text {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
#es-RC-content.es-RC .es-colors__text p,
#es-RC-content.es-RC .es-colors__text h2 {
  margin: 5px 0;
}
#es-RC-content.es-RC .es-colors__title--single {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
#es-RC-content.es-RC .es-disc {
  background-color: #e9809c;
  padding: 32px;
}
#es-RC-content.es-RC .es-disc__text {
  text-align: center;
  font-size: 10px;
  margin: 0;
}
#es-RC-content.es-RC .es-cross {
  padding: 40px 16px;
  background-color: #e9809c;
}
#es-RC-content.es-RC .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 16px;
  text-align: center;
}
#es-RC-content.es-RC .es-cross__title span {
  font-weight: 300;
}
#es-RC-content.es-RC .es-cross__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
}
#es-RC-content.es-RC .es-cross__content p {
  line-height: 25px;
}
#es-RC-content.es-RC .es-cross__content span {
  font-weight: 700;
}
#es-RC-content.es-RC .es-cross__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 32px 25px;
}
#es-RC-content.es-RC .es-cross__single {
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-RC-content.es-RC .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
}
#es-RC-content.es-RC .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-RC-content.es-RC .es-cross__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
}
#es-RC-content.es-RC .es-cross__desc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
#es-RC-content.es-RC .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #e9809c;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}
#es-RC-content.es-RC .es-models {
  background-image: url(images/models.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 550px;
  display: flex;
  justify-content: center;
}
#es-RC-content.es-RC .es-models__img {
  margin: auto 0;
  margin-bottom: 20px;
  max-width: 320px;
}
#es-RC-content.es-RC .es-footer {
  background-color: #e9809c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
#es-RC-content.es-RC .es-footer__logo img {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  #es-RC-content.es-RC .es-products {
    display: block;
    position: relative;
    background-image: url(images/products-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
  }
  #es-RC-content.es-RC .es-products__img {
    display: none;
  }
  #es-RC-content.es-RC .es-products__single {
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: left;
  }
  #es-RC-content.es-RC .es-products__single--first {
    position: absolute;
    top: 150px;
  }
  #es-RC-content.es-RC .es-products__single--second {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  #es-RC-content.es-RC .es-products__single--third {
    position: absolute;
    bottom: 50px;
  }
  #es-RC-content.es-RC .es-benefits__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #es-RC-content.es-RC .es-benefits__text--one {
    order: 1;
  }
  #es-RC-content.es-RC .es-benefits__img--one {
    order: 2;
  }
  #es-RC-content.es-RC .es-benefits__text--two {
    order: 4;
  }
  #es-RC-content.es-RC .es-benefits__img--two {
    order: 3;
  }
  #es-RC-content.es-RC .es-cross__img {
    transition: all 0.3s;
  }
  #es-RC-content.es-RC .es-cross__link {
    transition: color 0.3s;
  }
  #es-RC-content.es-RC .es-cross__single:hover .es-cross__img {
    transform: scale(1.05);
  }
  #es-RC-content.es-RC .es-cross__single:hover .es-cross__link {
    outline: 2px solid black;
    background-color: #e9809c;
  }
}
@media screen and (min-width: 998px) {
  #es-RC-content.es-RC .es-products {
    display: block;
    position: relative;
    background-image: url(images/products-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
  }
  #es-RC-content.es-RC .es-products__img {
    display: none;
  }
  #es-RC-content.es-RC .es-products__single {
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: left;
  }
  #es-RC-content.es-RC .es-products__single--first {
    position: absolute;
    top: 150px;
  }
  #es-RC-content.es-RC .es-products__single--first .es-products__title::before {
    display: inline-block;
    content: "";
    width: 300px;
    height: 90px;
    background-image: url(images/line-1-1.png);
    background-size: 300px 90px;
    position: absolute;
    top: -55px;
    right: -290px;
  }
  #es-RC-content.es-RC .es-products__single--second {
    position: absolute;
    right: 10px;
    bottom: 160px;
  }
  #es-RC-content.es-RC .es-products__single--second .es-products__title::before {
    display: inline-block;
    content: "";
    width: 200px;
    height: 55px;
    background-image: url(images/line-2.png);
    background-size: 200px 55px;
    position: absolute;
    bottom: -120px;
    left: -120px;
  }
  #es-RC-content.es-RC .es-products__single--third {
    position: absolute;
    bottom: 50px;
  }
  #es-RC-content.es-RC .es-products__single--third .es-products__title::before {
    display: inline-block;
    content: "";
    width: 200px;
    height: 55px;
    background-image: url(images/line-3.png);
    background-size: 200px 55px;
    position: absolute;
    top: -80px;
    right: -90px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  0% {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */